body {
  background-color: #FCEFEC;
  overflow: hidden;
}

.menu {
  list-style-type: none;
  margin-top: 0px;
  display: inline;
}

.menu li {
  display: inline;
  margin-left: 20px;
  border-bottom: 2px solid;
}

.menutext {
  font-family: Roboto Mono;
  font-size: 20px;
  margin-bottom: 0px;
  color: #1C00CD;
}

.menutext:hover {
  color: black;
}

.header {
  margin-left: auto;
  margin-right: auto;
  max-width: 900px;
}

.right {
  float: right;
}

.left {
  float: left;
}

.about-div {
  z-index: 5;
  position: relative;
  margin-left: 10%;
  top: 100px;
  left: 5%;
}

.abouttext {
  font-family: 'DM Serif Display';
  display: inline-block;
  font-size: 150px;
  z-index: 5;
  color: #EC562F;
  max-width: 80%;
  height: 200px;
}

.abouttext svg {
  position: relative;
  top: 20%;
  stroke: #EC562F;
  fill: #FCEFEC;
}

/* SVG BACKGROUND ICONS */
#icon-1 {
  position: absolute;
  width: 25%;
  top: 10%;
  left: 90%;
  fill: #002CDE;
}

#icon-2 {
  position: absolute;
  width: 40%;
  top: 30%;
  left: 20%;
  fill: #002CDE;
}

#icon-3 {
  position: absolute;
  width: 20%;
  left: -10%;
  top: 30%;
  fill: #002CDE;
}
