body {
  background-color: #282A36;
}

.terminal {
  font-family: 'Roboto Mono';
  color: #f1e6fc;
  max-width: 600px;
  width: 80%;
  font-size: 14px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 30px;
}

.term-outer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.cmd {
  display: flex;
  margin-top: 3px;
  padding-bottom: 20px;
  align-items: center;
}

.ascii {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

@media screen and (max-width: 650px) {
  .ascii {
    font-size: 7px;
  }
}

#cat {
  padding-right: 15px;
}

#sh {
  width: auto;
}

.newcommand {
  margin-top: 3px;
  margin-bottom: 3px;
}

.newcommand-cmd {
  word-wrap: break-word;
}

#link {
  color: #f4b5f7;
}

form {
  flex: 1;
}

.prompt {
  background-color: transparent;
  border: none;
  color: #f1e6fc;
  font-family: 'Roboto Mono';
  font-size: 14px;
  width: 100%;
  caret-color: #d8b9fa;
  padding-left: 0px;
}

.prompt:focus {
  outline: none;
}

#prompt {
  color: #d8b9fa;
  padding-right: 10px;
  width: fit-content;
}

.introduction {
  padding: 2px;
  margin-bottom: 25px;
}

#highlight {
  color: #d8b9fa;
  text-shadow: #fffce0 1px 0 5px;
}